:root {
    --color-bg: rgba(255, 255, 255, 0.9);
    --color-primary: rgb(170, 127, 77);
    --color-text: black;
    --color-text-light: gray;
    --color-hover: black;
}

* {
    box-sizing: border-box; /* Incluye paddings y márgenes en el tamaño de los elementos */
}

/* MenuBar */
.panel_navbar {
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    padding: 0.8%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    z-index: 1000;
}

.logo_navbar {
    width: 4%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.p_navbar {
    margin: 0;
    padding-left: 2%;
    font-weight: bold;
    color: var(--color-text-light);
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.menu_items_navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu_items_navbar a:hover {
    color: var(--color-hover);
}

.btn-navbar {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-navbar:hover {
    background-color: var(--color-hover);
}

/* Full-Screen-Background */
.video-background {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://media1.tenor.com/m/5tqd8cBhC5oAAAAC/nike-niketn.gif') center/cover no-repeat;
    filter: brightness(0.5);
}

.content-video-background {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.content-video-background h1 {
    color: var(--color-primary);
    font-size: 3.5rem;
    margin: 0;
}

.content-video-background h2 {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 5px;
}

/* Logos */
.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%; 
    padding: 20px 0;
    margin-top: 20px; 
    background-color: var(--color-bg);
    width: 100%;
    position: relative;
    z-index: 10;
}

.logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-animated {
    width: 120px; 
    height: auto;
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.selected {
    transform: scale(1.2);
}

.logo-name {
    font-size: 1rem;
    color: var(--color-text);
    margin-top: 10px;
    visibility: hidden; 
    transition: visibility 0.3s ease;
}

.logo-item.selected .logo-name {
    visibility: visible;
}


/*Carrusel */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta el margen superior */
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
}

.carousel-images {
    display: flex;
    gap: 150px; /* Espaciado entre imágenes */
}

.carousel-image {
    width: 100px; /* Ajusta el tamaño de las imágenes del carrusel */
    height: auto;
    border-radius: 5px; /* Bordes redondeados (opcional) */
    transition: transform 0.3s; /* Efecto de transición */
}

.carousel-image:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}


/* Estilos para las tarjetas del carrusel */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-text-light);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-bg);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

.card img {
    width: 250px; /* Ajusta el tamaño de las imágenes de las tarjetas */
    height: 250px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    border-radius: 5px;
    margin-bottom: 5px; /* Espaciado inferior */
}

.card .product-name {
    font-weight: bold;
    color: var(--color-text);
    margin: 5px 0; /* Margen superior e inferior */
}

.card .product-price {
    color: var(--color-primary);
}
