/* Globales */
::after
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #333;
    height: 100%;
}

.icon-store {
    width: 40px;
    height: 40px;
    stroke: black;
}

.icon-store:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/*MenuBar*/

.panel_navbar {
    display: flex; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.8%; 
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 5%; 
    left: 50%;
    transform: translate(-50%, -20%);
    width: 50%; 
    z-index: 1000;
}

.logo_navbar {
    width: 4%; 
    height: auto;
    border-radius: 50%; 
    vertical-align: middle; 
    object-fit: cover; 
    margin: 0; 
    padding: 0; 
}

.p_navbar {
    margin: 0; 
    padding-left: 2%; 
    font-weight: bold;
    color: gray; 
    transition: color 0.3s; 
    cursor: pointer;

}

.menu_items {
    display: flex; 
    justify-content: center; 
    width: 100%; 
  
}

.menu_items p:hover {
    color: black; 
}

.btn-navbar {
    background-color: rgb(94, 18, 18); 
    color: white; 
    border: none; 
    border-radius: 20px; 
    width: 20%;
    height: 70%;
    right: 1%;
    cursor: pointer; 
    position: absolute;
    font-weight: bold;
}

.btn-navbar:hover {
    background-color: black; 
}

/*End MenuBar*/

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon {
    position: relative;
}

.count-product{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}

.container-store-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 1 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.store-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-store-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.store-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.store-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-store {
    display: none;
}

/* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}